body {
  background-color: rgb(86, 74, 74);
  font-family:Arial, Helvetica, sans-serif;
  background-image: url("cloud 1.jpeg");
}

header {
  text-align: center;
  background-color: #333;
  background-size:contain;
  color: #fff;
}

main {
  align-items: center;
  margin: 20rem;
  margin-top: 5rem;
}

.container {
  text-align: center;
  background-color: rgb(31, 91, 100);
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0px 2px 10px rgba(72, 60, 60, 0.1);
  min-height: 50vh;
  max-width: 50vw;
  max-height: 50vh;
}

.weather-info {
  margin-top: 50px;
}

#city {
  padding: 5px;
  width: 200px;
  margin-right: 10px;
}

#getWeather {
  padding: 5px 10px;
  background-color: green;
  color: #fff;
  border: none;
  cursor: progress;
}

.weather-data {
  margin-top: 50px;
}
h1{
  color: #fff;
}